{% extends 'alumni/base_alumni.html' %}

{% block title %}Announcements{% endblock %}
{% block topbar_title %}Announcements{% endblock %}

{% block content %}
<h2 class="mb-4">Latest Announcements</h2>

<div class="card p-4 bg-white">
  {% for item in announcements %}
  <div class="border-start border-5 border-primary rounded bg-light p-3 mb-3">
    <h5>{{ item.title }}</h5>
    <p class="mb-1">{{ item.message }}</p>
    <small class="text-muted">Audience: {{ item.audience }} | Posted on: {{ item.posted_on }} | By: {{ item.admin_name }}</small>
  </div>
  {% else %}
  <p class="text-muted">No announcements available.</p>
  {% endfor %}
</div>
{% endblock %}